---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "News" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign count = 0 %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.hidden == true %}
      {% continue %}
    {% endif %}
    {% if count == 5 %}
      {% break %}
    {% endif %}
    {% include archive-single.html type=entries_layout %}
    {% assign count = count | plus: 1 %}
  {% endfor %}
</div>

{% include paginator.html %}
